body {
    background-color: hsl(0, 0%, 95%);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
}

.card {
    border-radius: 2%;
}

.sedans-card {
    background-color: hsl(31, 77%, 52%);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.card-text {
    color: hsla(0, 0%, 100%, 0.75);
}

.card-title {
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
}

.sedans-card > .btn {
    background-color: hsl(0, 0%, 95%);
    border-color: hsl(31, 77%, 52%);
    color: hsl(31, 77%, 52%);
}

.sedans-card > .btn:active {
    background-color: hsl(31, 77%, 52%);
    border-color: hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
}

.suvs-card {
    background-color: hsl(184, 100%, 22%);
    border-radius: 0;
}

.suvs-card > .btn {
    background-color: hsl(0, 0%, 95%);
    border-color: hsl(184, 100%, 22%);
    color: hsl(184, 100%, 22%);
}

.suvs-card > .btn:active {
    background-color: hsl(184, 100%, 22%);
    border-color: hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
}

.luxury-card {
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.luxury-card > .btn {
    background-color: hsl(0, 0%, 95%);
    border-color: hsl(179, 100%, 13%);
    color: hsl(179, 100%, 13%);
}

.luxury-card > .btn:active {
    background-color: hsl(179, 100%, 13%);
    border-color: hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
}

.btn {
    width: 8rem;
}

footer {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

@media only screen and (min-width: 1440px) {

    body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
    }

    div.container {
        height: 100vh;
    }

    .card-container {
        height: 90%;
    }

    .card {
        width: 25%;
    }

    .sedans-card {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 2%;
    }

    .suvs-card {
        border-radius: 0;
    }

    .luxury-card {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 2%;
    }

    footer {
        margin-bottom: 1rem;
        margin-top: 0;
    }

}